body {
    background-color: #232323;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
}

h1 {
    color: white;
}

#stripe {
    background: #fff;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: blue;
}